.wrapper{
    background-image: url("../images/water.jpeg");
    margin-top: -20px;
    margin-bottom: -20px;
}
#header-square{
    padding: 15px;
    width: 475px;
    margin: 15px;
    background-color: orange;
}

#instructions{
    padding: 20px;
    width: 800px;
    margin: 20px;
    background-color: blue;
}

#computer-number{
    padding: 20px;
    width: 300px;
    background-color:yellow;
    height: 90pxS;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 14px;
}


#wins-losses{
    padding: 20px;
    width: 300px;
    margin-left: 0;
    height: 90px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 20px;
    font-size: 25px;
}

#total-score-bar{
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color:magenta;
    height: 30px;
 
}

#total-score{
    padding: 20px;
    width: 300px;
    margin: 20px;
    height: 60px;
    padding-bottom: 10px;
    background-color:yellow;

}

.crystal-button{
    width: 100px;
    height: 100px;    
}

.container{
    margin-left: -12px;
}

#buttons{
    margin-left: 18px;
}