.wrapper{
    background-image: url("../images/water.jpeg");
}
#header-square{
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: orange;
}

#instructions{
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: blue;
}

#computer-number{
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color:yellow;
}


#wins-losses{
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color: rgb(240, 240, 240)
}

#total-score-bar{
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color:magenta;
 
}

#total-score{
    padding: 20px;
    width: 300px;
    margin: 20px;
    background-color:yellow;

}

.crystal-button{
    width: 100px;
    height: 100px;    
}